@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import uRL("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face{font-family: paladins; src:url(paladins.ttf);}
@font-face{font-family: paladins3D; src:url(paladins3d.ttf);}
@font-face{font-family: GothamBold; src:url(GothamBold.ttf);}
@font-face{font-family: GothamBold; src:url(Gotham XNarrow Book Italic.otf);}

/* tipos de tipografia a utilicar
helvetica light italic
helvetica extra black
helvetica
serifa
bodoni
futura
rockwell
roboto
*/


html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  margin: 0;

}
body,
input,
select,
button,
textarea{
  /* font-family: Montserrat,Arial, Helvetica, sans-serif; */
  font-family: 'Gotham XNarrow Book Italic',;

  font-size: 1.6rem;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearnce: none;
  appearance: none; 
  outline: 0;
  box-shadow: none;
  border: 0!important;
  background: #f0f0f0;
  background-image: none;
}
.select::-ms-expand{
  display: none;
}
.select{
  position: relative;
  line-height: 1.5;
  background: #f0f0f0;
  overflow: hidden;
  border-radius: 0.5em;
  
}
.select{
  font-size: 1.4rem;
  padding: 0 .5em;
  color: black;
  cursor: pointer;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main" 
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh; 
  /* height: 100%; no funciona el %*/
  /* main-height: calc(100vh - 100px - 300px) por si algo sale mal con la medida vh*/
}
a{
  text-decoration: none;
}
a:hover {
  color: rgb(214, 148, 26);
}
header{
  grid-area: header;
  background-color: black;
  color: white;
  display: flex;
  padding: 0.5rem;
  

}
header a {
  color: white;
  text-decoration: none;
  align-items: center;
}
.logo-principal{
  /* font-family: 'Staatliches', cursive; */
  /* font-size: 3rem; */
  border: white;
}
.logo-principal>img{
  width: 10rem;
  margin-top: 1.2rem;
}
main{
  grid-area: main;
  margin-top: 2rem;
}
footer{
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}

/* productos */

.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.productos li{
  flex: 0 1 40rem;
  width: 30rem;
  padding: 2rem;
}
.producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
}

.precio-titulo{
  padding: 0rem;
  justify-content: 0rem;
  font-family: 'GothamBold';
  /* margin-left: 1.5rem; */
  font-size: 1.2rem;
}

.producto img{
  max-width: 100%;
  max-height: 100%;


}
.producto-precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;

}
.producto_precio div,
.producto-precio button{
  text-align: center;
  flex: 1;
  width: 100%;
  

  
  
  
}
.producto-precio div{
  font-size: 1.3rem;
}
.button{
  font-family: 'GothamBold';
  font-size: rem;
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.3rem;
  width: 100%;


}
.button:hover{
  border: 0.1rem #808080 solid;
  border-radius: 0.2rem;
  background-color: black;
  color: white;

}
.button.primary{
  font-family: 'GothamBold';
  background-color: black;
  color: white;

}

.button.primary:hover{
  border: 0.1rem #808080 solid;
  border-radius: 0.2rem;
  background-color:white;
  color: black;
}

/* Filtrador */

.filtrador{
  /* font-family: 'Roboto', sans-serif; */
  font-size: 1.5rem;
  display:  flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filtrador div{
  flex: 1;
}

/* index.css */

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
  
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img{
  width: 5rem;
}
.cart-items li{
  display: flex;
}
.cart-items li div{
  padding: 0.8rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.button-remove{
  color: black;
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}

/* checkout form */

form{
  width: 90%;
}

.for-container{
  width: 100%;
  padding:  7rem;
  list-style-type:none ;
 
}

.for-container>li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input{
  padding: 0.3rem;
  border: 0.1rem rgb(146, 137, 137) solid;
  border-radius: 0.5rem;
}

ul{
  list-style-type: none  ;
}

.btn-person{
  text-align: center;
  height: 4rem;
  width: 50%;
  border-radius: 0.5rem;
  font-size: rem;

}

.btn-person:hover{
  border: 0.1rem #808080 solid;
  border-radius: 0.2rem;
  background-color:white;
  color: black;
}

.checkout>i{
  font-size:1.5rem;
  vertical-align:text-top ;
  
}

.fas fa-shopping-cart{
  font-size:rem;
  vertical-align:text-top;

}

i{
  font-size:1.3rem;
  min-width: fit-content;
  
}


/* product details */

.zoom-detail{
  background: rgba(255,255,255,.2);

  
}

.product-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  max-height: 96vh;
}

.product-detail>img{
  max-height: 80vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-detail-description{
  flex: 1 1;
  margin: 1rem;
}

.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/*detalles orden*/

.order-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div{
  padding: 10px;
}
.order-details .items{
  text-align: right;
  padding: 0;
}

.mensaje-Exitoso{
  color: rgb(28, 172, 28);
}


/* Home */


/*Navbar*/
.Navbar{
  background-color: black;
  margin-bottom: 5rem;
}
.logo-principal{
  font-family: paladins;
  /* font-family: paladins3D; */
  font-size: 2.5rem;
  color: white;
}
.btn-search{
  color: white;
}
.listas{
  font-size: 3rem;
}

/* header */

.row{
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: wrap;
  justify-content:  space-between;
  align-items: center;
  margin: 2rem;
}

.row.top{
  align-items: flex-start;
}


.img-search{
  width: 7rem;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;

}

/* images */

img{
  border-radius: 0.1rem;

}

img.medium{
  max-width: 40rem;
  width: 100%;
}

/* common */

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: 'GothamBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button.primary {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button.primary:hover {
  border: 0.1rem #404040 solid;
}
button.warning {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

.mainBoton{
  font-family: 'GothamBold';
  font-size: rem;
  /* padding: 1rem; */
  border: none;
  background-color: transparent;
  color: black ;
  cursor: pointer;
   margin-bottom: 1rem; 
  width: 100%;
  border-radius: 0%;

}

.mainBoton:hover{
  border: none;
  background-color: rgba(17, 17, 17, 0.5);
  color: white;
  transition: 1s;
}


/* card */

.cards{
  /* border: 0.1rem #c0c0c0 solid; */
  background-color:  #f8f8f8;
  /* border-radius: 0.5rem; */
  margin: 0.5rem;
}

.cards-body{
  padding: 1rem;

}

.cards-body >*{
  /* margin-bottom: 0.5rem; */
}

.price{
  font-size: 2rem;
}

/* Rating */

.rating span{
  color: rgb(228, 228, 8);
  margin: 0.1rem;
}
.rating span:last-child{
  color: #404040
}

/* alert */

.success{
  color: #20a020;
}

.error{
  color: #a02020;
}